.block {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #eceff1;
    text-align: center;
}

.block span {
    margin: auto;
    padding: 30px;
}

body {
    background-color: aliceblue;
}

.calculator {
    background-color: white;
    margin-top: 80px;
    max-width: 400px;
    border-radius: 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.calculator-screen {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    width: 100%;
    outline: none;
    background-color: rgba(236, 236, 236, 0.5);
    text-align: right;
    font-size: 45px;
    color: black;
    margin: 20px auto;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px auto;
    gap: 5px;
}

.grid-item {
    background-color: rgba(236, 236, 236, 0.5);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    outline: none;
    border: none;
}

.grid-item:hover {
    background-color: rgb(236, 236, 236);
}

.blue {
    background-color: rgba(162,219,250, 0.3);
    color: rgb(35, 105, 211);
}

.blue:hover {
    background-color: rgb(162,219,250);
}

.equal-sign {
    grid-column: 4 / 5;
    grid-row: 4 / span 2;
    background-color: rgb(35, 105, 211, 0.8);
    color: white;
}

.equal-sign:hover {
    background-color: rgb(35, 105, 211);
}


@media (min-width: 300px) and (min-height: 650px) {
    .block {
        display: none;
    }
}
